<ul>                
<li class="minicart-item">            
<div class="minicart-details-name">                
<a class="minicart-name" href="file:///D:/Documents/Web-Template/Kedai/menu.html">Fortune Sunflower Oil</a>                
<ul class="minicart-attributes">                                                     
<li>Discount: $5.00
<input type="hidden" name="discount_amount_1" value="5"></li>
</ul>
</div>
<div class="minicart-details-quantity">
<input class="minicart-quantity" data-minicart-idx="0" name="quantity_1" type="text" pattern="[0-9]*" value="5" autocomplete="off">
</div>
<div class="minicart-details-remove">
<button type="button" class="minicart-remove" data-minicart-idx="0">×</button>
</div>
<div class="minicart-details-price">
<span class="minicart-price">$34.95</span>
</div>
<input type="hidden" name="item_name_1" value="Fortune Sunflower Oil">
<input type="hidden" name="amount_1" value="7.99"> 
<input type="hidden" name="shipping_1" value="undefined">
<input type="hidden" name="shipping2_1" value="undefined">
</li>
</ul>