<div class="top-brands">
	<div class="container">
		<h3>Menu</h3>
		<div class="agile_top_brands_grids">
			<item-preview *ngFor="#item of catalog | filterItems:search" [item]="item"></item-preview>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--     <button (click) = "onPost()">Post Data</button><br/>
    <div>Output:{{postData}}</div><br/> -->
</div>
<!-- 	<div *ngIf="getData">
		<div *ngFor="#x of getData">
			{{x.id_menu}}
		</div>
	</div> -->
<!-- 		<div *ngFor="let x of getData">
			{{x.id_menu}} -->
			<!-- {{x.harga_menu}}
<!-- 		
	</div> -->