<div class="team">
	<div class="container">
		<h3>About Us</h3>
		<div class="agileits_team_grids">
			<div class="col-md-4 agileits_team_grid">
				<img src="images/husain.jpg" alt=" " class="img-responsive" />
				<h4>Muhammad Husain Fadhlullah</h4>
				<p>NIM. 141524017</p>
				<p>Frontend-Dev - Angular2</p>
				<ul class="agileits_social_icons agileits_social_icons_team">
					<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="col-md-4 agileits_team_grid">
				<img src="images/ihya.jpg" alt=" " class="img-responsive" />
				<h4>Muhammad Ihya'ul Khair</h4>
				<p>NIM. 141524018</p>
				<p>Frontend-Dev - Angular2</p>
				<ul class="agileits_social_icons agileits_social_icons_team">
					<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="col-md-4 agileits_team_grid">
				<img src="images/imam.jpg" alt=" " class="img-responsive" />
				<h4>M. Imam Fauzan</h4>
				<p>NIM. 1415240</p>
				<p>Backend-Dev - Django</p>
				<ul class="agileits_social_icons agileits_social_icons_team">
					<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>