				 <div class="cart-header">
                            <div class="close1"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></div>
                            <div class="cart-sec simpleCart_shelfItem">
                                    <div class="cart-item cyc">
                                        <img src={{item.image_src}} class="img-responsive" alt=""/>
                                    </div>
                                   <div class="cart-item-info">
                                        <ul class="qty">
                                            <li><p>Name : {{item.name}}</p></li>
                                            <li><p>Jumlah : 1</p></li>
                                            <li><p>Harga : Rp {{item.price}}</p></li>
                                        </ul>  
                                   </div>
                                   <div class="clearfix"></div>

                              </div>
                         </div>
